:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --btn-background-color: #188ce8;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  color: var(--title-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: Raleway, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ---------------------HEADER--------------------- */
.header {
  background-color: var(--primary-white-color);
}

.header-logo {
  color: var(--primary-black-color);
}

.accent {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* ---------------------HERO--------------------- */
.hero {
  background-color: var(--dark-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-background-color);
}

/* ---------------------BENEFITS--------------------- */

.benefits-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-item-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ---------------------TEAM--------------------- */
.team {
  background-color: var(--secondary-background-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

/* ---------------------FOOTER--------------------- */

.footer {
  background-color: var(--dark-background-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
}

.footer-link {
  color: var(--primary-white-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* ---------------------PORTFOLIO--------------------- */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-card-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
